<div>
    <a href="/signup">New User Sign Up</a>
    <br>
    <a href="/signin">Existing User Sign In</a>
    {{#each sauces}}
        <div>
            <img src="{{this.image}}"/>
            <a href="/sauces/{{id}}">Click to see {{name}}</a>
            <button id='btn-{{id}}' class="delete-btn" onclick="deleteSauce({{id}})">Delete</button>
        </div>
    {{/each}}
    <div>
        <a href="/new-sauce" class="new-sauce-btn">Add New Sauce!</a>
    </div>
</div>
<script src="/sauces.js"></script>